### Tuple :
> - immutable - no methods to add update and delete 
> - ordered - indexing and slicing

In [1]:
t = (10,20,30,40,50,"Python")
print(t)

(10, 20, 30, 40, 50, 'Python')

In [2]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple() -> empty tuple
 |  tuple(iterable) -> tuple initialized from iterable's items
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  count(...)
 |      T.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      T.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.

In [3]:
num1,num2 = 100,200
print(num1,num2)

100 200

In [4]:
t = 100,200
print(t)

(100, 200)

In [10]:
l = [10,20,30,40,50]

for t in enumerate(l):
    print(t)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)

In [11]:
x,y = (100,200)
print(x,y)

100 200

In [16]:
t = (100,200,300,400,400,500,500)
print(t[0],t[-1])
print(t[1:])
print(t.index(400))
print(t.count(400))

100 500
(200, 300, 400, 400, 500, 500)
3
2

In [18]:
t= (10,20,30,40)
l = list(t)
print(l,type(l))
t1 = tuple(l)
print(t1,type(t1))

[10, 20, 30, 40] <class 'list'>
(10, 20, 30, 40) <class 'tuple'>

In [20]:
t = (100,200,300)
t[1] = 1000
print(t)

TypeError: 'tuple' object does not support item assignment

In [21]:
t = (100,200,300,400)
l = list(t)
print(l)

[100, 200, 300, 400]

In [26]:
t = (100,200,300,(1,2,3,4,5,6))
print(t[-1][-2])

5

### Dict 

> - {}
> - {"key":"value"}
> - mutable : add update delete key and value pair 
> - unordered : not support indexing and slicing 
> - all the keys should be unique 
> - Data type of keys should be immutable - int ,float ,str ,tuple

In [33]:
d = {"name":"abc","email":"abce@gmail.com","contact":"7123456789","name":"pqr"}
print(d['name'])

KeyError: 'abc'

In [ ]:
Hash table 
hash(key) => hash key 
hash key key value 
O(1)

In [28]:
l = [100,20,300,400,500]
print(l.index(300))

2

In [ ]:
d = {"name":"abc","email":"abce@gmail.com","contact":"7123456789","name":"pqr"}
print(d['name'])

In [34]:
d = {1:1,2:4,3:9,4:16}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16}

In [59]:
d = {"name":"abc","email":"abc@gmail.com","contact":"7123456789"}
print(d['email'])

abc@gmail.com

In [55]:
d.get("name",-1)

'abc'

In [65]:
print(d.setdefault("name",200000))
print(d)

abc
{'name': 'abc', 'email': 'abc@gmail.com', 'contact': '7123456789', 'age': 20, 'salary': 200000}

In [69]:
print(d)
d['empid']=5001
print(d)
d['empid'] = 1001
print(d)
d['name'] ="pqr"
print(d)

{'name': 'abc', 'email': 'abc@gmail.com', 'contact': '7123456789', 'age': 20, 'salary': 200000, 'empid': 1001}
{'name': 'abc', 'email': 'abc@gmail.com', 'contact': '7123456789', 'age': 20, 'salary': 200000, 'empid': 5001}
{'name': 'abc', 'email': 'abc@gmail.com', 'contact': '7123456789', 'age': 20, 'salary': 200000, 'empid': 1001}
{'name': 'pqr', 'email': 'abc@gmail.com', 'contact': '7123456789', 'age': 20, 'salary': 200000, 'empid': 1001}

In [71]:
d = {}
for key in range(1,21):
#     d.setdefault(key,key*key)
    d[key] = key*key
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [72]:
print(ord('a'))

97

In [73]:
print(chr(97))

a

In [3]:
d = {}
for value in range(97,123):
    d.setdefault(chr(value),value)
print(d)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [ ]:
l = [11,15,25,45,32,86,78,41,25]

d ={(1,10):0,(11,20):2..............(91,100):0}

In [6]:
l1 = [10,20,30,40]
l2 = [1,2,3,4,5]
print(list(zip(l1,l2)))

[(10, 1), (20, 2), (30, 3), (40, 4)]

In [8]:
print(list(range(1,92,10)))
print(list(range(10,101,10)))

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [7]:
d = {}

for key in zip(range(1,92,10),range(10,101,10)):
    d.setdefault(key,0)
print(d)

l = [11,15,25,45,32,86,78,41,25]
for value in l:
    for key in d:
        if value >= key[0] and value <= key[1]:
            d[key]+=1
print(d)

{(1, 10): 0, (11, 20): 0, (21, 30): 0, (31, 40): 0, (41, 50): 0, (51, 60): 0, (61, 70): 0, (71, 80): 0, (81, 90): 0, (91, 100): 0}
{(1, 10): 0, (11, 20): 2, (21, 30): 2, (31, 40): 1, (41, 50): 2, (51, 60): 0, (61, 70): 0, (71, 80): 1, (81, 90): 1, (91, 100): 0}

In [16]:
d = {"name":"abc","email":"abce@gmail.com","contact":"7123456789","name":"pqr"}
for k,v in d.items():
    print(k,v)

name pqr
email abce@gmail.com
contact 7123456789

In [11]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Delete 
> - pop
> - popitem 
> - clear 
> - del

In [24]:
d = {"name":"abc","email":"abce@gmail.com","contact":"7123456789","age":"32"}
r = d.popitem()
print(d)
print(r)

r = d.pop('name')
print(d,r)

d.clear()
print(d)

del d
print(d)

{'name': 'abc', 'email': 'abce@gmail.com', 'contact': '7123456789'}
('age', '32')
{'email': 'abce@gmail.com', 'contact': '7123456789'} abc
{}

NameError: name 'd' is not defined

In [30]:
l1 = [1,2,3,4,5,6,7,8]
l2 = [1,4,9,16,25,36]
d =dict(zip(l1,l2))
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [34]:
l = [10,20,30,40,50]
d = dict.fromkeys(l,0)
print(d)

{10: 0, 20: 0, 30: 0, 40: 0, 50: 0}

In [37]:
d1 = {1:1,2:4,3:9}
d2 = {4:16,5:25}
d1.update(d2)
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
List :
    add :
        append 
        extend 
        insert 
    update :
        l[index] =new_value 
        
    delete :
        pop =last ,index 
        remove value 
        clear 
        del

In [ ]:
Dict :
        add:
        d.setdefault()
        d[key]=value 
        
        update 
        d[key] =new_value
        
        delete :
            popitem 
            pop
            del
            clear

In [ ]:
Dict : 
    mutable 
    keys should immutable and unique 
    unordered